{% if app.request.attributes.get('banners', [])|length %}
	<div class="banners-wrapper">
		<div class="banners-carousel js-banners-carousel">
			{% for banner in app.request.attributes.get('banners', []) %}
				<div class="banners-slide js-banners-slide">
					{% if banner.link %}
						<a href="{{ path(
							'bitbag_sylius_banner_plugin_count_banner_clicks',
							{id: banner.id}) }}" class="banners-item"
						>
							<img src="{{ banner.path }}" alt="{{ banner.alt }}" style="width: 100%;"/>
						</a>
					{% else %}
						<div class="banners-item" style="width: 100%;">
							<img src="{{ banner.path }}" alt="{{ banner.alt }}"/>
						</div>
					{% endif %}
				</div>
			{% endfor %}
		</div>
	</div>
{% endif %}